{{!-- pages/audition.hbs --}}

{{#> layouts/base title="Audition"}}

	{{#*inline "content"}}
		<div class="container-fluid">
			<div class="flex-container">
				<div class="left-content">
					<h2>Audition Info</h2>
					<h3>Sign up to audition here!</h3>
					<p>Thank you for your interest in auditioning! All auditions will be held on {{auditionDate}} between {{audStartTime}} and {{audEndTime}} in {{auditionPlace}}. <b>Note that this is the audition time and place regardless of which acts you are interested in.</b> Each audition slot is 12 minutes long. If you do not live in Next House, we'll tap you in and lead you to the right place!</p>

					<p><b>What to prepare for your audition</b>: please prepare roughly 90 seconds of any song or piece. For <i>piano, guitar, and drums instrumental auditions only</i>, your audition will include sightreading. A piano and drumkit will be available in your audition room.</p>

					<p>The audition form closes on {{audFormClose}}. You will be assigned and emailed audition time(s) within 24 hours of the form close. If you cannot make your assigned audition time(s), please contact us as soon as possible. We will either reassign you to different time slot(s) or try to arrange an alternative audition. Due to time and availability constraints, it may be impossible for us to arrange an alternative audition for everyone who reqeusts one.</p>
				</div>

				<div class="right-content">
					<h3>Want to be an act lead?</h3>
					<ul>
						<li>About 2 hrs/wk per song arranged</li>
						<li>Participate in act lead social events!</li>
						<li>Perform what <i>you</i> like, no genre restrictions</li>
						<li>Sounds cool? Fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSevEyfMKw64Od8DslFr64GCD2-oWzRd4zXQs1G1fRNJr16D_A/viewform">form!</a></li>
					</ul>
				</div>
			</div>

			<div class="wide-content">
				<h2>Acts {{currentSemester}}</h2>
				<div class="row">
					<div class="col-sm-2">Act Lead</div>
					<div class="col-sm-3">Piece(s)</div>
					<div class="col-sm-5">Arranged for</div>
					<div class="col-sm-2">Skill</div>
				</div>
			</div>
		</div>
	{{/inline}}

{{/layouts/base}}